<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登録完了</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href ="https://cdn.skypack.dev/sanitize.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
	
</style>

</head>
<body>
	
	<!--固定ヘッダーフラグメントの挿入 -->
    <div th:replace="layout :: header"></div>
    
    <main class="wrap">
		<h1 class="midashi">登録完了</h1>
	</main>
	
	<!--固定フッターフラグメントの挿入 -->
	<div th:replace="layout :: footer"></div>


</body>
</html>