<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
</head>
<body>

<h2>ユーザー登録フォーム</h2>

<form th:action="@{/register}" th:object="${inputRegisterForm}" method="post">
    <div>
        <label for="username">ユーザー名:</label>
        <input type="text" id="username" th:field="*{name}" required>
    </div>
    <div>
        <label for="password">パスワード:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <label for="phone">電話番号:</label>
        <input type="text" id="phone" th:field="*{tel}" name="phone" pattern="\d{1,4}-\d{1,4}-\d{1,4}"  required>
    </div>
    <div>
        <button type="submit">登録</button>
    </div>
</form>

</body>
</html>
