<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ユーザー登録</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href ="https://cdn.skypack.dev/sanitize.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
	
</style>
</head>
<body>
	
	<!--固定ヘッダーフラグメントの挿入 -->
    <div th:replace="fragments/layout :: header"></div>
    
    <main class="wrap">
		<h1 class="midashi">ユーザー登録フォーム</h1>

		<form th:action="@{/register}" th:object="${inputRegisterForm}" method="post">
	    <div>
	        <label for="username">ユーザー名:</label>
	        <input type="text" id="username" th:field="*{userName}" required>
	    </div>
	    <div>
	        <label for="password">パスワード:</label>
	        <input type="password" id="password" th:field="*{password}" required>

	    </div>
	    <div>
	        <label for="phone">電話番号:</label>
	        <input type="text" id="phone" th:field="*{tel}" name="phone" pattern="\d{1,4}-\d{1,4}-\d{1,4}"  required>
	    </div>
	    <div>
	        <button type="submit">登録</button>
	    </div>
	</form>

	</main>
	
	<!--固定フッターフラグメントの挿入 -->
	<div th:replace="fragments/layout :: footer"></div>


	
</body>
</html>
