<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta id="csrfToken" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="csrfHeaderName" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>管理画面</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h2 {
            border-bottom: 1px solid #ddd;
            padding-bottom: 5px;
        }
        
        /* 商品情報の見出しと表の間隔を調整 */
		h2:first-of-type {
   			 margin-bottom:0; /* 商品情報の見出しの下の余白を調整 */
		}

		h2:first-of-type + table {
   			 margin-top: 0; /* 商品情報の表の上の余白を調整 */
		}
		
		/* 各項目の間隔を調整 */
        h2:not(:first-of-type) {
            margin-top: 50px; /* 各項目の上の余白を調整 */
        }

        /* 最後の項目の下の余白を削除 */
        h2:last-of-type {
            margin-bottom: 10px; /* 最後の項目の下の余白を調整 */
        }

        
 
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            margin-bottom: 20px; /* 下の余白を追加 */
            table-layout: auto; /* 列幅をセルの内容に合わせて自動調整 */
 /*          table-layout: fixed;  /* 列幅を固定するための設定 */  
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            overflow: hidden; /* セル内のテキストがはみ出す場合は隠す */
            white-space: nowrap; /* テキストを折り返さないようにする */
            text-overflow: ellipsis; /* セル内のテキストがはみ出す場合は省略記号で表示 */
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #f5f5f5;
        }





    </style>
</head>
<body>
<h2>商品情報</h2>
<table>
    <thead>
    <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>在庫数</th>
        <th>商品金額</th>
        <th>カテゴリ</th>
        <th>編集</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.stock}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category}"></td>
        <td>
            <!-- 非表示の画像URLフィールド -->
            <input type="hidden" th:value="${product.image.path}" class="product-image-url" />
            <!-- 編集ボタン -->
            <button class="edit-btn" onclick="showEditForm(this)">編集</button>
        </td>
    </tr>
    </tbody>
</table>

<!-- 編集フォーム -->
<div class="edit-form" id="editForm" style="display: none;">
    <h2>商品情報を編集する</h2>
    <form id="edit-product-form">
        <input type="hidden" id="edit-product-id" name="productId">
        <div class="form-group">
            <label for="edit-product-name">商品名:</label>
            <input type="text" id="edit-product-name" name="productName">
        </div>
        <div class="form-group">
            <label for="edit-product-stock">在庫数:</label>
            <input type="number" id="edit-product-stock" name="stock">
        </div>
        <div class="form-group">
            <label for="edit-product-price">商品金額:</label>
            <input type="number" id="edit-product-price" name="price">
        </div>
        <div class="form-group">
            <label for="edit-product-image">商品画像:</label>
            <input type="text" id="edit-product-image" name="image">
        </div>
        <div class="form-group">
            <label for="edit-product-category">カテゴリ:</label>
            <select id="edit-product-category" name="category">
                <option value="FOOD">食品</option>
                <option value="DRINK">飲料</option>
                <option value="SIDE">サイド</option>
                <!-- 他のカテゴリオプション -->
            </select>
        </div>
        <button type="button" id="update-product">更新</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function showEditForm(button) {
        let row = button.parentNode.parentNode;
        let cells = row.getElementsByTagName("td");
        let imageUrl = row.getElementsByClassName("product-image-url")[0].value;

        document.getElementById("edit-product-id").value = cells[0].innerText;
        document.getElementById("edit-product-name").value = cells[1].innerText;
        document.getElementById("edit-product-stock").value = cells[2].innerText;
        document.getElementById("edit-product-price").value = cells[3].innerText;
        // document.getElementById("edit-product-image").value = cells[4] ? cells[4].innerText : ''; // 画像URLがあれば設定
        // 画像URLを編集フォームにセット
        document.getElementById("edit-product-image").value = imageUrl;
        document.getElementById("edit-product-category").value = cells[4].innerText.trim(); // カテゴリをセット

        let editForm = document.getElementById('editForm');
        editForm.style.display = 'block';
    }

    $(document).ready(function(){
        $("#update-product").click(function(){
            let productId = $("#edit-product-id").val();
            let productName = $("#edit-product-name").val();
            let productStock = $("#edit-product-stock").val();
            let productPrice = $("#edit-product-price").val();
            let productImage = $("#edit-product-image").val(); // 画像URLを取得
            let productCategory = $("#edit-product-category").val(); // カテゴリを取得

            const csrfToken = $('meta[name="_csrf"]').attr('content');
            const csrfHeaderName = $('meta[name="_csrf_header"]').attr('content');

            $.ajax({
                url: '/admin/edit/' + productId,
                type: 'PUT',
                contentType: 'application/json',
                headers: { [csrfHeaderName]: csrfToken },
                data: JSON.stringify({
                    name: productName,
                    stock: productStock,
                    price: productPrice,
                    imgUrl: productImage, // 画像URLをJSONに含める
                    category: productCategory // JSONにカテゴリ情報を含める
                }),
                success: function(response) {
                    alert('商品情報を更新しました');
                    $("#editForm").hide();
                    // ここにページの内容を更新するコードを追加（例：商品リストの更新）
                    window.location.reload(); // ページ全体をリロードする
                },
                error: function() {
                    alert('商品情報の更新に失敗しました');
                }
            });
        });
    });
</script>



<h2>商品登録</h2>
<form th:action="@{/admin/manage/add-product}" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: row;">

    <div style="margin-right: 20px;">
        <label for="productName" style="width: 100px;">商品名:</label>
        <input type="text" id="productName" name="name" style="font-size: 16px;">
    </div>

    <div style="margin-right: 20px;">
        <label for="productStock" style="width: 100px;">在庫数:</label>
        <input type="text" id="productStock" name="stock" style="font-size: 16px;">
    </div>

    <div style="margin-right: 20px;">
        <label for="productPrice" style="width: 100px;">商品金額:</label>
        <input type="text" id="productPrice" name="price" style="font-size: 16px;">
    </div>

    <div style="margin-right: 20px;">
        <label for="productImage" style="width: 100px;">商品画像:</label>
        <input type="file" id="productImage" name="image" style="font-size: 16px;">
    </div>

    <div style="margin-right: 20px;">
        <label for="productCategory" style="width: 100px;">カテゴリ:</label>
        <select id="productCategory" name="category" style="font-size: 16px;">
            <option value="FOOD">食品</option>
            <option value="DRINK">飲料</option>
            <option value="SIDE">サイド</option>
        </select>
    </div>

    <button type="submit">登録</button>
</form>


	<!-- エラーメッセージ -->
	<div th:if="${errorMessage}" style="color: red;">
    	<p th:text="${errorMessage}"></p>
	</div>
	<!-- 成功メッセージ -->
	<div th:if="${successMessage}" style="color:blue;">
    	<p th:text="${successMessage}"></p>
</div>



<h2>ユーザー情報</h2>
<table >

    <thead>
    <tr>
        <th>ユーザーID</th>
        <th>名前</th>
        <th>商品ID</th>
        <th>購入した個数</th>
        <th>購入日時</th>
        <th>編集</th>
    </tr>


    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        
          <!-- 編集ボタンを表示 -->
        <td>
            <a th:href="@{'/edit-user/' + ${user.userId}}">
                <button class="edit-btn">編集</button>
            </a>
        </td>
       </tr>
          <!-- 新規ユーザーの空の行 -->


    </tbody>

</table>


<!-- 編集ボタン -->
<form style="margin-top: 10px;" th:action="@{/add-user}" method="post">
    <button type="submit">新規ユーザー追加</button>
</form>


<h2>予約情報</h2>
<table>
    <thead>
    <tr>
        <th>予約ID</th>
        <th>予約者名</th>
        <th>予約日時</th>
        <th>TEL</th>
        <th>E-mail</th>
        <th>商品ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.reservationId}"></td>
        <td th:text="${reservation.customerName}"></td>
        <td th:text="${reservation.reservationTime}"></td>
        <td th:text="${reservation.customerTel}"></td>
        <td th:text="${reservation.email}"></td>
        <!-- 商品IDの列はここで表示 -->
        <td th:text="${reservation.productId}"></td>
    </tr>
    </tbody>
</table>


<script>
    $('#uploadForm').submit(function(event) {
        event.preventDefault();

        let formData = new FormData();
        formData.append('productImage', $('#productImage')[0].files[0]);

        const csrfToken = $('meta[name="_csrf"]').attr('content');
        const csrfHeaderName = $('meta[name="_csrf_header"]').attr('content');

        $.ajax({
            url: '/upload', // サーバー側のエンドポイント
            type: 'POST',
            data: formData,
            headers: { [csrfHeaderName]: csrfToken },
            processData: false,
            contentType: false,
            success: function(response) {
                alert('画像のアップロードが完了しました');
                location.reload();
            },
            error: function() {
                alert('画像のアップロードに失敗しました');
            }
        });
    });
</script>
</body>
</html>
