<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>予約確認</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href ="https://cdn.skypack.dev/sanitize.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<style>
	
</style>
</head>
<body>
		
	<!--固定ヘッダーフラグメントの挿入 -->
    <div th:replace="layout :: header"></div>
    
    <main>
    <!-- 見出し -->
    <h1>注文内容</h1>

	<!--<div th:object="${selectedProducts}">-->
	<!--    <div th:each="item : ${selectedProducts}">-->
	<!--        <p>商品: <span th:text="${item.productName}"></span></p>-->
	<!--        <p>数量: <span th:text="${item.quantity}"></span></p>-->
	<!--        <p>合計金額: <span th:text="${totalAmount}"></span></p>-->
	<!--    </div>-->
	<!--</div>-->
	
	<h2>注文者情報</h2>
	<form th:action="@{/takeout/product/completeOrder}" th:object="${reservationForm}" method="post">
	    <div>
	        <label for="name">お名前:</label>
	        <input type="text" id="name" th:field="*{name}" required /><!--th:fieldでth:object(reservationFormクラス)のname変数に値を格納する処理-->
	        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><!-- 名前のエラーメッセージ表示 -->
	    </div>																		<!--requiredはフィールドに値が必須であることを示す、空だった場合エラーメッセージを返す-->
	    <div>
	        <label for="email">E-mail:</label>
	        <input type="email" id="email" th:field="*{email}" required/><!--email変数に格納-->
	        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><!-- メールのエラーメッセージ表示 -->
	    </div>
	    <div>
	        <label for="phone">電話番号:</label>
	        <input type="tel" id="phone" th:field="*{phone}" required/><!--phone変数に格納-->
	        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span><!-- 電話番号のエラーメッセージ表示 -->
	    </div>
	
	    <label>受取日時:</label>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
	        <div>
	        <input type="text" id="datetime" th:field="*{date}" autocomplete="off" required/><!--date変数に格納-->
	        </div>
	        <div>
				<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span><!-- 日時のエラーメッセージ表示 -->
	<!--            エラー表示-->
	<!--            <ul th:if="${#fields.hasErrors('*')}">-->
	<!--                <li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>-->
	<!--            </ul>-->
	
	            <label for="datetime">☝受取日時を選択してください☝</label>
	        </div>
	
	
	    <script>
	        $('#datetime').datetimepicker({
	            format:'Y-m-d H:i'
	        });
	    </script>
	
	    <button type="submit">注文を確定☺</button>
	
	
	    <br>
	    <a href="/takeout/product">メニュー画面に戻る</a><br>
	    </form>
	    </main>
	    
	    
	    <!--固定フッターフラグメントの挿入 -->
			<div th:replace="layout :: footer"></div>
	
</body>
</html>