@charset "UTF-8";
	
	/* フォントインポート */
	@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
	
	/* ▽▽▽ メインページ ▽▽▽ */
	
	
	/* ▽▽▽ 全体の背景色とフォント ▽▽▽ */
	body {
    	background-color: rgb(244, 213, 128);
    	font-family: "M PLUS 1p", sans-serif;
	}
	
	/* ▽▽▽ 各ページの見出し ▽▽▽ */
	/*下記HTML文に記述*/
	/*<h2 class="ttl_line2">ここに見出しいれる（例）Menu </h2>*/
	
	/* 見出しの下線 */
	.ttl_line2 {
 		 font-weight: bold;
 		 border-bottom: 2px solid rgb(128, 64, 0);
 		 padding: 0.3em;
  		 margin-bottom: 0.3em;
	}
	
	/* 見出しの1文字目を大きくする */
	.ttl_line2:first-letter {
 		font-size: 1.5em;
  		color: rgb(255, 128, 0);
	}
	
	
	/*サイドバー開いたときにメイン部分もスライドする*/
	#check:checked ~ main {	
		margin-left: 250px;
	}
	
	main {
		background-position: center;
		text-align:  left;    /* 文字左寄せ */
    	height: 100vh;
    	background-size: cover;
    	padding:  50px;        /* 余白指定 */
    	/*border: solid 2px;      /* 枠線指定 */
    	transition: all 0.5s; /* トランジション(動き)*/
	}
	
	
	
	/* ▽▽▽ サイドバーセクション ▽▽▽ */
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		list-style: none;
		text-decoration: none;
		font-family: "M PLUS 1p", sans-serif;
	}
	
	.sidebar{
		position: fixed; /* 固定する */
		left: -250px;
		background-color: rgb(105, 84, 56);
		width: 250px;
		height: 100%;
		transition: all 0.5s;
	}
	
	/* サイドバー内のヘッダー「TeamA」 */
	.sidebar header{
		font-size: 22px;
		color: white;
		text-align: center;
		line-height: 70px;
		background: burlywood;
		/* user-select: none; */
	}
	
	/* 各リンク部分 */
	.sidebar ul a {
		display: block;
		height: 100%;
		width: 100%;
		line-height: 50px;
		color: white;
		font-size: 15px;
		padding-left: 40px;
		border-top: 1px solid rgba(255,255,255,0.1);
		/*border-bottom: 1px solid navajowhite;*/
		transition: 0.4s;
	}
	
	ul li:hover a {
		padding-left: 50px;
	}
	
	.sidebar ul a i {
		margin-right: 16px;
	}
	
	.sidebar ul p{
		color: whitesmoke;
	}
	
	/* ▽▽▽　トグルセクション　▽▽▽ */
	#check{
		display: none;
	}
	
	label #hambargerButton,
	label #cancel{
		position: absolute;
		cursor: pointer;
		background: #b66f2d;
		border-radius: 3px;
	}
	
	label #hambargerButton{
		left: 40px;
		top: 25px;
		font-size: 25px;
		color: white;
		padding: 6px 12px;
		transition: all 0.5s;
	}
	
	label #cancel{
		z-index: 10;
		left: -195px;
		top: 17px;
		font-size: 30px;
		color: white;
		padding: 4px 9px;
		transition: all 0.5s;
	}
	
	#check:checked ~ .sidebar{
		left: 0px;
	}
	
	#check:checked ~ label #hambargerButton{
		left: 250px;
		opacity: 0;
		pointer-events: none;
	}
	
	#check:checked ~ label #cancel{
		left: 195px;
	}